.site-header {
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 100;
  height: var(--height-blog-header);
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--color-primary);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  > .title {
    font-family: var(--font-family-century);
    font-weight: var(--font-weight-century);
    font-size: 2rem;
    line-height: 1;
  }
}
