@use 'blog/article-header';
@use 'blog/post-edit';
@use 'blog/post-toc';

.article-layout {
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .article-layout {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-areas: 
      "header header"
      "main   aside"
      "ad     .";
    grid-template-columns: minmax(0, 1fr) 30rem;
    grid-template-rows: 18rem auto auto;
    gap: 2rem 4rem;
    
    > .header {
      grid-area: header;
      max-width: 72rem;
      margin: auto;
    }
    > .aside {
      grid-area: aside;
    }
    > .main {
      grid-area: main;
    }

    > .aside > .sticky {
      position: sticky;
      top: 0;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    > .ad {
      grid-area: ad;
      margin: 1rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .article-layout {
    grid-template-columns: 84rem 30rem;
  }
}
