.post-list-layout {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px 20px;
  > .post-list-pagination {
    margin: 20px auto;
  }
}

.post-list-title {
  text-align: center;
  padding: 48px 0;
}

.post-list-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  // gap: 36px;
  > .post-list-item {
    margin: 3.6rem 0;
  }
}

.post-list-item {
  > .date {
    color: rgba(0, 0, 0, 0.75);
  }
  > .title {
    font-size: 2.4rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  > .title > .link {
    display: block;
    text-decoration: none;
  }
  > .description {
    padding: 0.5rem 0;
  }
  > .description > .more {
    text-decoration: underline;
  }
}

.post-list-pagination {
  display: flex;
  justify-content: space-between;
}
