.article-layout {
  padding: 1rem;
}

.article-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  > .title {
    font-size: 3.2rem;
  }
}

.post-toc {
  > .title {
    font-size: 1.8rem;
  }
  > .toc {
    ol {
      padding: 0 0 0 2.4rem;
    }
    li {
      color: var(--color-text-secondary);
    }
    a {
      color: inherit;
    }
    a.-active {
      font-weight: bold;
    }
  }
}

.post-edit {
  > .link {
    color: var(--color-text-secondary)
  }
}

.ad-margin {
  margin: 1rem;
  background-color: grey;
}

@media screen and (min-width: 992px) {
  .article-layout {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-areas: 
      "header header"
      "main   aside"
      "ad     .";
    grid-template-columns: minmax(0, 1fr) 30rem;
    grid-template-rows: 18rem auto auto;
    gap: 2rem 4rem;
    
    > .header {
      grid-area: header;
      max-width: 72rem;
      margin: auto;
    }
    > .aside {
      grid-area: aside;
    }
    > .main {
      grid-area: main;
    }

    > .aside > .sticky {
      position: sticky;
      top: 0;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    > .ad {
      grid-area: ad;
      margin: 1rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .article-layout {
    grid-template-columns: 84rem 30rem;
  }
}
