$bar-wrap-width: 50px;
$bar-width: 2px;
$marker-size: 12px;

@media screen and (min-width: $bp-s) {
  $bar-wrap-width: 50px;
  $bar-width: 2px;
  $marker-size: 10px;
}

.history-list.history-list {
  padding-left: $bar-wrap-width;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    width: $bar-width;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: $bar-wrap-width / 2 - $bar-width / 2;
  }

  > .history-item {
    padding: 10px 0;
    position: relative;
  }

  @media screen and (min-width: $bp-s) {
    > .history-item {
      padding: 15px 0;
    }
  }
}

.history-item {
  display: flex;
  flex-flow: column nowrap;

  &::before {
    content: '';
    display: inline-block;
    width: $marker-size;
    height: $marker-size;
    top: calc(50% - #{$marker-size / 2});
    left: - $bar-wrap-width / 2 - $marker-size / 2;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
  }

  > .period {
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
  }

  @media screen and (min-width: $bp-s) {
    flex-flow: row nowrap;

    > .period {
      flex: 0 0 9rem;
    }
  }
}
