---
og_image_url: https://honai.me/images/profile.png
og_image_alt: Profile Icon
large_card: false
lang: ja
---
<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <%- include('seo') %>
  <link rel="stylesheet" href="/blog.css">
</head>
<body>
  <%- content %>
</body>
</html>
