---
og_image_url: https://honai.me/images/profile.png
og_image_alt: Profile Icon
large_card: false
lang: ja-JP
---
<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <% include /head %>
</head>
<body>
  <header>
    <% include /header %>
  </header>
  <%- content %>
  <footer>
    <% include /footer %>
  </footer>
</body>
</html>
