---
large_card: false
lang: ja
externalStyleSheets: []
gtag_id: UA-137251140-3
---
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  {% include 'seo.njk' %}
  <base href="{{ page.url }}">
  <link rel="stylesheet" href="https://use.typekit.net/bdo3rru.css" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="/blog.css">
  {% for css in externalStyleSheets %}
    <link rel="stylesheet" href="{{ css.href }}" integrity="{{ css.integrity }}" crossorigin="anonymous"
      {% if css.async %}
        media="print" onload="this.media='all'"
      {% endif %}
    >
  {% endfor %}
</head>

<body>
  {{ content | safe }}

  <script type="application/json" class="external-scripts-list">
    [
      "https://www.google-analytics.com/analytics.js",
      "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9155380222623167"
    ]
  </script>
  <script>
    // polyfill
    if (!window.requestIdleCallback) {
      window.requestIdleCallback = (cb) => {
        window.setTimeout(cb, 1)
      }
    }
    window.requestIdleCallback(() => {
      const elms = document.getElementsByClassName('external-scripts-list')
      const scripts = Array.from(elms).map(e => JSON.parse(e.textContent)).flat()
      scripts.map(s => {
        var e = document.createElement('script')
        e.src = s
        document.body.appendChild(e)
      })
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ gtag_id | safe }}', 'auto');
      ga('send', 'pageview');
      (adsbygoogle = window.adsbygoogle || []).push({});
    })
  </script>
</body>

</html>
