---
layout: blog-base
permalink: "{{ page.filePathStem | dirname }}.html"
externalStyleSheets:
  - href: https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-tomorrow.min.css
    integrity: sha256-xevuwyBEb2ZYh4nDhj0g3Z/rDBnM569hg9Vq6gEw/Sg=
  - href: https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css
    integrity: sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X
    async: true
githubLinkBase: https://github.com/honai/honai.me/blob/main/
---
<div class="body-layout">
  {% include 'header.html' %}
  <div class="grow">
    <h1 class="post-title">{{ title }}</h1>
    <div class="post-content">
      <div class="post-meta">
        <div>
          <a href="/blog">&lt; 記事一覧</a>
        </div>
        <div class="century-gothic post-date">
          <time id="published-time" datetime="{{ date }}">{{ date }}</time>
          {% if updated %}
            (Updated at <time id="updated-time" datetime="{{ updated }}">{{ updated }}</time>)
          {% endif %}
        </div>
      </div>
      <div class="post-edit">
        <a href="{{ githubLinkBase }}{{ page.inputPath }}" class="link">この記事の編集をリクエスト (GitHub)</a>
      </div>
      <main class="post-markdown">
        {{ content | safe }}
      </main>
    </div>
  </div>
  {% include 'footer.html' %}
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  const publishedTimeEl = document.getElementById('published-time')
  const updatedTimeEl = document.getElementById('updated-time')
  for (const el of [publishedTimeEl, updatedTimeEl]) {
    if (!el) continue
    const date = new Date(el.getAttribute('datetime'))
    el.textContent = date.toLocaleDateString()
  }
  for (const el of document.querySelectorAll('pre:not([class]), code:not([class])')) {
    el.classList.add('language-text')
  }
</script>
