<div class="post-pagination">
    {% set nextHref = pagination.href.next %}
    {% set prevHref = pagination.href.previous %}
    <div>
    {% if prevHref %}
        <a href="{{ prevHref }}">&lt; Previous</a>
    {% endif %}
    </div>
    <div>
    {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}
    </div>
    <div>
    {% if nextHref %}
        <a href="{{ nextHref }}">Next &gt;</a>
    {% endif %}
    </div>
</div>
