<header class="blog-header">
  <div class="heading century-gothic">
    <a href="/" class="_reset-a">honai.me</a>
  </div>
  <nav class="links">
    <a href="/blog" class="_reset-a">Blog</a>
    <a href="/blog/rss.xml" class="_reset-a">RSS</a>
  </nav>
</header>
