---
title: Honai Ueoka
description: Honai Ueoka's portfolio website.
---
<!DOCTYPE html>
<html lang="ja">

<head>
  {% include 'seo.njk' %}
  <link rel="stylesheet" href="https://use.typekit.net/bdo3rru.css">
  <link rel="stylesheet" href="/style.css">
  <!-- <script data-ad-client="ca-pub-9155380222623167" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
</head>

<body class="body-layout">
  <main class="main-content">
    {{ content | safe }}
  </main>
</body>
