{% set siteDomain = 'https://www.honai.me' %}
{% set locale = 'JP' %}
{% set username = '@_honai' %}
{% set canonicalUrl = (siteDomain + page.url) | noextension %}
{{ canonicalUrl | log }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="canonical" href="{{ canonicalUrl }}">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">

<meta property="og:url" content="{{ canonicalUrl }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ og_image_url }}">
<meta property="fb:app_id" content="1144529745735811">
<meta property="og:locale" content="{{ lang }}_{{ locale }}">

<meta name="twitter:card" content="{{ 'summary_large_image' if large_card else 'summary' }}">
<meta name="twitter:site" content="{{ username }}">

<link rel="icon" href="/favicon.ico">
