.post-toc {
  > .title {
    font-size: 1.8rem;
  }
  & .toc {
    ol {
      padding: 0 0 0 2.4rem;
    }
    li {
      color: var(--color-text-secondary);
    }
    a {
      color: inherit;
    }
    a.-active {
      font-weight: bold;
    }
  }
}
