.post-title {
  background-color: #333;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: #eee;
  margin: 0;
  padding: 30px 10px;
}

.post-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.post-date {
  text-align: right;
}

.post-markdown {
  // TODO: remove
  > h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  > h2 {
    line-height: 1.5;
    display: flex;
    align-items: center;
    margin: 2rem 0 1.5rem;
  }
  > h2::before {
    content: '';
    background-color: var(--primary-color);
    height: 25px;
    width: 5px;
    border-radius: 3px;
    margin-right: 15px;
  }
  > h2::after {
    content: '';
    border-bottom: 1px dashed;
    border-color: rgba(0, 0, 0, 0.2);
    flex: 1 1 auto;
    margin-left: 10px;
  }
  img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  .img-row-wrap {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  .img-row-wrap > * {
    flex: 0 1 430px;
    margin: 5px !important;
  }
  > table {
    border-collapse: collapse;
    width: 100%;
  }
  > table th,
  > table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  > table > thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  > :not(pre) > code[class='language-text'] {
    background-color: #eee;
    color: unset;
  }
  > blockquote {
    margin: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }
}
