---
title: Honai's Blog
description: 記事一覧
layout: blog-base
og_image_url: https://www.honai.me/images/profile.png
pagination:
  data: collections.posts
  size: 10
  reverse: true
---
<div class="body-layout">
  {% include 'blog-header.html' %}
  <div class="grow post-list-layout">
    <h1 class="post-list-title century-gothic">Honai's Blog</h1>
    <ul class="post-list-ul">
      {% for post in pagination.items %}
        <li class="post-list-item">
          <div class="date">
            <time datetime="{{ post.date }}" class="post-publish-date">{{ post.date }}</time>
          </div>
          <h2 class="title">
            <a href="{{ post.url }}" class="link _reset-a">{{ post.data.title }}</a>
          </h2>
          <p class="description">
            {{ post.data.description }}
            ...
            <a href="{{ post.url }}" class="_reset-a more">この記事を読む</a>
          </p>
        </li>
      {% endfor %}
    </ul>
    {% include 'blog-pagenation.njk' %}
    <div class="ad-sense">
      <!-- ブログ記事一覧下 -->
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9155380222623167"
      data-ad-slot="3792188932"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    </div>
  </div>
  {% include 'footer.html' %}
</div>
<script>
  const publishDateEls = document.getElementsByClassName('post-publish-date')
  for (const el of publishDateEls) {
    const date = new Date(el.getAttribute('datetime'))
    el.textContent = date.toLocaleDateString()
  }
</script>
