// theme
:root {
  --color-primary: #02454a;
  --len-radius: 4px;
  --font-family-century: "Century Gothic", CenturyGothic, century-gothic,
    sans-serif;
  --font-weight-century: 400;
}

// other variables
:root {
  --height-blog-header: 3.6rem;
}
