// theme
:root {
  --color-primary-rgb: 2, 69, 74;
  --color-primary: rgb(var(--color-primary-rgb));
  --color-link: rgb(0, 0, 238);
  --color-link-visited: rgb(85, 26, 139);
  --len-radius: 4px;
  --font-family-century: "Century Gothic", CenturyGothic, century-gothic,
    sans-serif;
  --font-weight-century: 400;
  --height-blog-header: 3.6rem;
}

a {
  color: var(--color-link);
  &:visited {
    color: var(--color-link-visited);
  }
}

@mixin light {
  --color-text: #333;
  --color-text-secondary: #666;
  --color-bg: rgba(250, 250, 250);
  --color-fg: #fff;
  --color-border: rgb(219, 219, 219);
  --color-border-target: rgba(var(--color-primary-rgb), 0.5);
  --color-shadow: rgba(0, 0, 0, 0.2);
}

@mixin dark {
  --color-text: #eee;
  --color-text-secondary: #aaa;
  --color-bg: #000;
  --color-fg: #000;
  --color-border: #444;
  --color-link: rgb(62, 166, 255);
  --color-link-visited: rgb(193, 128, 255);
  --color-border-target: rgba(var(--color-primary-rgb), 1);
  --color-shadow: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
  body.light {
    @include light;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @include light;
  }
  body.dark {
    @include dark;
  }
}
