@use "css-variables";

.profile-section {
  display: flex;
  align-items: center;
  > .icon {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
  }
  > .name {
    margin-left: 2.4rem;
    text-align: center;
  }
  > .name > .ja {
    font-size: 2.4rem;
  }
  > .name > .en {
    color: var(--color-text-secondary);
  }
}

.social-links {
  padding: 0 1rem;
  > .item {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  > .item > .link {
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
    --svg-size: 2.4rem;
    > .icon {
      width: var(--svg-size);
      height: var(--svg-size);
      margin-right: 1rem;
    }
    > .icon > svg {
      width: var(--svg-size);
      height: var(--svg-size);
    }
    > .text {
      font-family: var(--font-family-century);
    }
  }
}
