@use "css-variables";

.body-layout {
  background-color: var(--color-bg);
  color: var(--color-text);
  // padding-top: 5.4rem;
  > .center {
    padding: 1rem;
    max-width: calc(720px + 2rem);
    margin: 0 auto;
  }
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  > .title {
    font-size: 1.8rem;
    font-family: var(--font-family-century);
  }
}

.nav-title {
  padding: 1rem 0 0;
  font-family: var(--font-family-century);
  > .title {
    padding: 2rem 0 1rem;
    text-align: center;
  }
  > .nav {
    font-size: 1.8rem;
    display: flex;
    width: 120px;
    margin: 0 auto;
    justify-content: space-between;
    > a {
      color: unset;
    }
  }
}

.main-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}

.simple-card {
  background-color: var(--color-fg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--len-radius);
  &:target {
    border: 2px solid var(--color-border-target);
    box-shadow: 0 0 3px var(--color-shadow);
  }
  > .heading {
    font-family: var(--font-family-century);
    font-size: 2rem;
    // color: var(--color-text-secondary);
    border-bottom: 1px solid var(--color-border);
    padding: 1.2rem;
  }
  > .heading > .anchor {
    color: unset;
    text-decoration: none;
  }
  > .content {
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-border);
    &:last-child {
      border-bottom: none;
    }
  }
}

.profile-section {
  display: flex;
  align-items: center;
  > .icon {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
  }
  > .name {
    margin-left: 2.4rem;
    text-align: center;
  }
  > .name > .ja {
    font-size: 2.4rem;
  }
  > .name > .en {
    color: var(--color-text-secondary);
  }
}

.social-links {
  padding: 0 1rem;
  > .item {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  > .item > .link {
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
    --svg-size: 2.4rem;
    > .icon {
      width: var(--svg-size);
      height: var(--svg-size);
      margin-right: 1rem;
    }
    > .icon > svg {
      width: var(--svg-size);
      height: var(--svg-size);
    }
    > .text {
      font-family: var(--font-family-century);
    }
  }
}
