@use "css-variables";

.profile-section {
  display: flex;
  align-items: center;
  > .icon {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
  }
  > .name {
    margin-left: 2.4rem;
    text-align: center;
  }
  > .name > .ja {
    font-size: 2.4rem;
  }
  > .name > .en {
    color: var(--color-text-secondary);
  }
}
