*,
*::before,
*::after {
  box-sizing: border-box;
}

// reset
html {
  // 1rem = 10px
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  font-size: 1.6rem;
  margin: 0;
  line-height: 1.75;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: unset;
}
main {
  display: block;
}
p,
ul,
ol {
  margin: 0;
}
ul {
  line-height: 2;
}
img {
  max-width: 100%;
}

// weak helpers
._rounded {
  border-radius: 50%;
}
._uncolor {
  color: unset;
}
._reset-ul {
  padding-left: 0;
  list-style: none;
}
._reset-a {
  color: unset;
  text-decoration-line: unset;
}
