@use 'variables' as v;
@use 'reset';
@use 'components/blog-footer';
@use 'components/post-page';
@use 'components/post-list';
@use 'components/post-markdown';
@use 'components/site-header';

:root {
  --primary-color: #02545a;
}

.century-gothic {
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.body-layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  > .grow {
    flex: 1 0 auto;
  }
}
