@use 'variables' as v;
@use 'reset';
@use 'css-variables';
@use 'components/site-footer';
@use 'components/post-page';
@use 'components/post-list';
@use 'components/post-markdown';
@use 'components/blog-header';
@use 'components/ad-sense';

.century-gothic {
  font-family: var(--font-family-century);
  font-style: normal;
  font-weight: var(--font-weight-century);
  font-display: swap;
}

.body-layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  > .grow {
    flex: 1 0 auto;
  }
}
