$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;

*, *::before, *::after {
  box-sizing: border-box;
}

// reset
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  font-size: 1.6rem;
  margin: 0;
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: unset;
}
p, ul, ol {
  margin: 0;
}
img {
  max-width: 100%;
}

// weak helpers
._rounded {
  border-radius: 50%;
}
._reset-ul {
  padding-left: 0;
  list-style: none;
}
._reset-a {
  color: unset;
  text-decoration-line: unset;
}

// theme
:root {
  --color-primary: #02454a;
  --color-text: #333;
  --color-text-secondary: #666;
  --color-bg: rgba(250, 250, 250);
  --color-fg: #fff;
  --color-border: rgb(219, 219, 219);
  --len-radius: 4px;
  --font-family-century: century-gothic, sans-serif;
  --font-weight-century: 400;
}

// components

.body-layout {
  background-color: var(--color-bg);
  color: var(--color-text);
  // padding-top: 5.4rem;
}

.site-header {
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 100;
  height: 5.4rem;
  background-color: var(--color-fg);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  > .title {
    font-family: var(--font-family-century);
    font-weight: var(--font-weight-century);
    font-size: 2.4rem;
  }
}

.main-content {
  padding: 1rem;
  max-width: 720px;
  margin: 0 auto;
  > .main-section {
    margin: 3rem 0;
  }
}

.main-section {
  background-color: var(--color-fg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--len-radius);
  > .heading {
    font-family: var(--font-family-century);
    font-size: 2rem;
    // color: var(--color-text-secondary);
    border-bottom: 1px solid var(--color-border);
    padding: 1.2rem;
  }
  > .content {
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-border);
    &:last-child {
      border-bottom: none;
    }
  }
}

.profile-section {
  display: flex;
  align-items: center;
  > .icon {
    width: 7.2rem;
    border-radius: 50%;
  }
  > .name {
    margin-left: 2.4rem;
    text-align: center;
  }
  > .name > .ja {
    font-size: 2.4rem;
  }
  > .name > .en {
    color:var(--color-text-secondary);
  }
}

.social-links {
  padding: 0 1rem;
  > .item {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  > .item > .link {
    display: flex;
    align-items: center;
    > .icon {
      width: 2.4rem;
      margin-right: 1rem;
    }
    > .text {
      font-size: 1.4rem;
      color: var(--color-text-secondary);
    }
  }
}

.education-item {
  > .period {
    color: var(--color-text-secondary);
  }
  > .desc {}
}

.slide-list {
  @media screen and (min-width: $break-sm) {
    display: flex;
    justify-content: space-between;
    > .slide-item {
      flex: 0 0 49%;
    }
  }
  > .slide-item {
    margin-bottom: 1.5rem;
  }
}

.slide-item {
  border-radius: var(--len-radius);
  border: 1px solid var(--color-border);
}

.slide-item > .link {
  > .thumb {
    border-radius: var(--len-radius) var(--len-radius) 0 0;
    width: 100%;
    padding-top: 56.25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  > .texts {
    padding: 1rem;
  }
  > .texts > .title {
    padding: 0.5rem 0;
  }
  > .texts > .subtitle, > .texts > .date {
    font-size: 1.4rem;
    color: var(--color-text-secondary);
  }
}
