@use 'variables' as v;

.education-item {
  > .period {
    color: var(--color-text-secondary);
  }
  > .desc {}
}

.slide-list {
  @media screen and (min-width: v.$break-sm) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    > .slide-item {
      flex: 0 0 49%;
    }
  }
  > .slide-item {
    margin-bottom: 1.5rem;
  }
}

.slide-item {
  border-radius: var(--len-radius);
  border: 1px solid var(--color-border);
}

.slide-item > .link {
  display: flex;
  flex-flow: column nowrap;
  > .thumb {
    border-radius: var(--len-radius) var(--len-radius) 0 0;
    width: 100%;
    height: auto;
  }
  > .texts {
    padding: 1rem;
  }
  > .texts > .title {
    padding: 0.5rem 0;
  }
  > .texts > .subtitle, > .texts > .date {
    font-size: 1.4rem;
    color: var(--color-text-secondary);
  }
}

.works-gallery {
  padding: 0 2rem;
  display: flex;
  flex-flow: column nowrap;
  > .thumblink {
    margin: 0.4rem 0;
  }
}
.works-page-link {
  padding-top: 0.4rem;
  text-align: center;
}

.site-footer {
  color: var(--color-text-secondary);
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem 0;
}

// 404.ejs
.notfound-heading {
  text-align: center;
  font-size: 2.8rem;
  font-family: var(--font-family-century);
}

// works.ejs
.work-thumb {
  width: 100%;
  height: auto;
}
.work-desc {
  padding-left: 2rem;
  line-height: 1.5;
}

a[target]:not(._nonewicon) {
  text-decoration: underline;
  &::after {
    content: '';
    display: inline-block;
    opacity: 0.75;
    width: 0.9em;
    height: 0.9em;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z'/%3E%3C/svg%3E");
    background-color: currentColor;
    margin-left: 0.2em;
    vertical-align: middle;
  }
}
