---
permalink: "404.html"
---

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://use.typekit.net/bdo3rru.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body class="body-layout">
  <main class="main-content">
    <h2 class="notfound-heading">404 Not Found</h2>
    <div class="simple-card">
      <h2 class="heading">Links</h2>
      <div class="content">
        <a href="/">Honai Ueoka Portfolio</a>
        <br>
        <a href="/blog">Honai's Blog</a>
      </div>
    </div>
  </main>
</body>

</html>
